.env
.env.*
/vendor/
/node_modules/
/public/build/
/public/hot/
/storage/*.key
/storage/app/
/storage/framework/
/storage/logs/
/bootstrap/cache/
*.sqlite
*.sqlite-wal
*.sqlite-shm
.DS_Store
Thumbs.db
